<h1>投稿を作る</h1>
<hr>
<%= form_for @post do |f| %>
  <p>内容</p>
  <%= f.text_area :content, :class => "form-control my-form" %>
  <br>
  <p>場所</p>
  <%= f.text_field :place, :class => "form-control my-form" %>
  <hr>
  <%= f.submit "登録する", :class => "btn btn-primary" %>
<% end %>
<hr>
<a href="/posts" class="btn btn-info">トップに戻る</a>